@import "tailwindcss";

.heading {
  font-size: 2rem;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --colormode1: white;
  --colormode2: rgb(50,50,50);
  --bgc: url('../public/websitebackground.png');
}

body {
  background-image: var(--bgc);
  background-size: cover;
  background-repeat: no-repeat;
}