@import "tailwindcss";

.heading {
  font-size: 2rem;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oval {
  height: 200px;
  width: 300px;
  background-color: #555;
  border-radius: 80%;
}

:root {
  --colormode1: white;
  --colormode2: rgb(50,50,50);
  --bgc: url('../public/websitebackground.png');
}

body {
  background-image: var(--bgc);
  background-size: cover;
}